.c-two {
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  background-color: orange;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.c-three {
  text-align: center;
  font-size: 30px;
  background-color: hotpink;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.c-para {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
