.h-two {
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  background-color: orange;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.h-three {
  text-align: center;
  font-size: 30px;
  background-color: hotpink;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.h-para {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h-text {
  list-style-position: outside;
  list-style: square;
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

.h-table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

.h-table {
  border-collapse: collapse;
  width: 100%;
}

.h-table,
td {
  padding: 15px;
}
