.h-two {
  margin-top: 80px;
  text-align: center;
  font-size: 30px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
}
.h-three {
  text-align: start;
  font-size: 30px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
  height: 670px;
  width: 100%;
  flex-direction: column;
}
.h-para {
  /* background-color: black; */
  color: black;
  text-align: start;
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: -10px;
}

.h-text {
  /* list-style-position: outside; */
  list-style: square;
  /* background: #ffe5e5; */
  color: rgb(19, 17, 17);
  /* padding: 5px; */
  margin-left: 20px;
}

.h-table,
td,
th {
  border: 5px solid #191212;
  text-align: left;
}

.h-table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 1px;
  border: #191212;
  padding: 10px;
}
.h-table,
th {
  border: 5px solid #191212;
  padding: 10px;
}
/* .table {
  margin-left: 1px;
} */
