.one {
  text-align: center;
  font-size: 30px;
  background-color: limegreen;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.two {
  text-align: center;
  font-size: 30px;
  background-color: orange;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.three {
  text-align: center;
  font-size: 30px;
  background-color: hotpink;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.four {
  text-align: center;
  font-size: 30px;
  background-color: skyblue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
