.button {
  display: flex;
  text-align: end;
  height: 60px;
  left: 680px;

  position: relative;
  margin-top: 20px;
  margin-bottom: 370px;
  padding: 10px;

  :hover {
    background-color: #000;
    color: #fff;
    width: 100px;
  }
}
