.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -5; */
}
.image {
  width: 900px;
  height: 350px;
  border-radius: 10px;
  position: relative;
  display: flex;
  z-index: -5;
}
.right-arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 40px;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  display: flex;
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
